* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#body {
  background-color: #555879;
  font-family: poppins, sans-serif;
  color: black;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  background-color: #555879;
  color: black;
  font-family: poppins, sans-serif;
  font-style: italic;
}
h2 {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: bolder;
  text-shadow: #070707 2px 2px 4px;
}
#logo {
  width: 35%;
  height: auto;
  margin-bottom: 30px;
}
nav {
  background-color: #98a1bc;
  padding: 50px;
  position: fixed;
  border-radius: 30px;
  margin: 50px;
}
.nav-link {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: strong;
  font-size: 20px;
  text-shadow: #070707 2px 2px 4px;
}
.navbar-brand {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: strong;
  font-size: 30px;
  text-shadow: #070707 2px 2px 4px;
}

.servicio {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
}

#servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  background-color: #98a1bc;
  border-radius: 15px;
}
.black {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: bolder;
  text-shadow: #070707 2px 2px 4px;
  justify-content: center;
}
footer {
  background-color: #ff7a3c;
  color: black;
  padding: 30px;
  position: relative;
  border-radius: 70px 0 70px 0;
}
/* Estilo para pantallas muy grandes */
@media (min-width: 1440px) {
  #logo {
    width: 20%;
  }
}
